body{
    background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/88/95/tCaJ3V.jpg);
    background-repeat: no-repeat;
    height: 100%;
}
table{
    fill-rule: all; 
    border: 3px; 
    color: black;
}
tables{
    background-color: white;
}
